[submodule "workarea/Tutorials"]
path = workarea/Tutorials
url = git@code.ihep.ac.cn:bes3/BOSS_Tutorials.git
[submodule "jobs"]
path = jobs
url = git@code.ihep.ac.cn:bes3/BOSS_JobSubmitter.git
[submodule "ThirdParty/headers"]
path = ThirdParty/headers
url = git@code.ihep.ac.cn:bes3/BOSS_ExternalLibs
