[submodule "workarea/Tutorials"]
	path = workarea/Tutorials
	url = git@github.com:redeboer/BOSS_Tutorials.git
[submodule "jobs"]
	path = jobs
	url = git@github.com:redeboer/BOSS_JobSubmitter.git
[submodule "workarea/Analysis/IniSelect"]
	path = workarea/Analysis/IniSelect
	url = git@github.com:redeboer/BOSS_IniSelect.git
[submodule "ThirdParty/headers"]
	path = ThirdParty/headers
	url = https://github.com/redeboer/BOSS_ExternalLibs
[submodule "ThirdParty/BOSS704/CLHEP"]
	path = ThirdParty/BOSS704/CLHEP
	url = https://gitlab.cern.ch/CLHEP/CLHEP.git
[submodule "ThirdParty/BOSS704/Gaudi"]
	path = ThirdParty/BOSS704/Gaudi
	url = https://gitlab.cern.ch/gaudi/Gaudi.git
